
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}


h1 {
    color: #333;
    margin-bottom: 20px;
}


label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 10px;
}


input[type="number"],
input[type="file"],
button {
    display: block;
    width: calc(100% - 30px);
    margin: 0 auto 20px; 
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
    text-align: left; 
}

#output p {
    font-size: 14px;
    color: #333;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    input[type="number"],
    input[type="file"],
    button {
        width: calc(100% - 20px); 
    }
}